/* Import the App.css stylesheet */
@import "../../App.css";

/* Style the root element of the dashboard header */
.root-dash-header {
  border-bottom: 1px solid var(--grey);
}

/* Style the container for the dashboard header */
.dash-header {
  margin: 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the left side of the dashboard header */
.dash-header-left {
  display: flex;
}

/* Style the title of the dashboard header */
.dash-header-title {
  margin-left: 40px;
  font-weight: 600;
  font-size: 25px;
  color: var(--black);
}

/* Style the expanded version of the dashboard header title */
.dash-header-title-expand {
  margin-left: 270px;
  font-size: 25px;
  color: var(--black);
  font-weight: 600;
  transition: 350ms;
}

/* Style the right side of the dashboard header */
.dash-header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the search bar in the dashboard header */
.dash-header-search {
  width: 295px;
  height: 33px;
  border-radius: 7px;
  border: 1px solid var(--grey);
}

/* Style the placeholder text in the search bar */
::placeholder {
  font-weight: 400;
  font-size: 12px;
}

/* Style the help icon in the dashboard header */
.dash-header-help {
  margin-left: 35px;
}

/* Style the notifications icon in the dashboard header */
.dash-header-noti {
  margin-left: 35px;
}

/* Style the user profile section of the dashboard header */
.dash-header-user {
  display: flex;
  column-gap: 8px;
  margin-left: 35px;
  cursor: pointer;
}

/* Style the username in the user profile section */
.dash-header-username {
  color: var(--black);
  font-weight: 600;
  font-size: 14px;
  z-index: 10;
}

.dash-header-user-logout{
  display: none;
}

.dash-header-user-logout-active{
  border: 1px solid var(--grey);
  z-index: 5;
  position: fixed;
  background-color: var(--white);
  width: 100px;
  cursor: pointer;
  height: 150px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  right: 0;
  top: 0;
  margin-right: 25px;
  margin-top: 25px;
}

/* Media query for screens with a maximum width of 1536px */
@media (max-width: 1536px) {
  .dash-header {
    margin: 20px 32px;
  }
  .dash-header-title {
    margin-left: 32px;
    font-size: 20px;
  }
  .dash-header-title-expand {
    margin-left: 216px;
    font-size: 20px;
  }

  .dash-header-search {
    width: 236px;
    height: 26px;
    border-radius: 6px;
  }

  ::placeholder {
    font-size: 10px;
  }
  .dash-header-help {
    margin-left: 28px;
  }
  .dash-header-help {
    margin-left: 28px;
    width: 16px;
    height: 16px;
  }
  .dash-header-noti {
    margin-left: 28px;
    width: 16px;
    height: 16px;
  }
  .dash-header-user {
    column-gap: 6px;
    margin-left: 28px;
  }
  .dash-header-dp {
    width: 28px;
    height: 28px;
  }
  .dash-header-noti {
    margin-left: 28px;
  }
  .dash-header-user {
    column-gap: 7px;
    margin-left: 28px;
  }

  .dash-header-username {
    font-size: 11px;
  }
  .dash-header-position {
    font-size: 11px;
  }
}

/* Media query for screens with a maximum width of 1280px */
@media (max-width: 1280px) {
  .dash-header {
    margin: 17px 30px;
  }
  .dash-header-title {
    margin-left: 30px;
    font-size: 17px;
  }
  .dash-header-title-expand {
    margin-left: 180px;
    font-size: 17px;
  }

  .dash-header-search {
    width: 197px;
    height: 22px;
    border-radius: 5px;
  }

  ::placeholder {
    font-size: 8px;
  }
  .dash-header-help {
    margin-left: 23px;
    width: 13px;
    height: 13px;
  }
  .dash-header-noti {
    margin-left: 23px;
    width: 13px;
    height: 13px;
  }
  .dash-header-user {
    column-gap: 5px;
    margin-left: 23px;
  }
  .dash-header-dp {
    width: 23px;
    height: 23px;
  }
  .dash-header-username {
    font-size: 9px;
  }
  .dash-header-position {
    font-size: 9px;
  }
}
