@import "../../App.css";

.root-dash-header {
  border-bottom: 1px solid var(--grey);
}
.dash-header {
  margin: 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dash-header-left {
  display: flex;
}
.dash-header-title {
  margin-left: 40px;
  font-weight: 600;
  font-size: 25px;
  color: var(--black);
}
.dash-header-title-expand {
  margin-left: 270px;
  font-size: 25px;
  color: var(--black);
  font-weight: 600;
  transition: 350ms;
}
.dash-header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dash-header-search {
  width: 295px;
  height: 33px;
  border-radius: 7px;
  border: 1px solid var(--grey);
}
::placeholder {
  font-weight: 400;
  font-size: 12px;
}
.dash-header-help {
  margin-left: 35px;
}
.dash-header-noti {
  margin-left: 35px;
}
.dash-header-user {
  display: flex;
  column-gap: 8px;
  margin-left: 35px;
}
.dash-header-username {
  color: var(--black);
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 1536px) {
  .dash-header {
    margin: 20px 32px;
  }
  .dash-header-title {
    margin-left: 32px;
    font-size: 20px;
  }
  .dash-header-title-expand {
    margin-left: 216px;
    font-size: 20px;
  }

  .dash-header-search {
    width: 236px;
    height: 26px;
    border-radius: 6px;
  }

  ::placeholder {
    font-size: 10px;
  }
  .dash-header-help {
    margin-left: 28px;
  }
  .dash-header-help {
    margin-left: 28px;
    width: 16px;
    height: 16px;
  }
  .dash-header-noti {
    margin-left: 28px;
    width: 16px;
    height: 16px;
  }
  .dash-header-user {
    column-gap: 6px;
    margin-left: 28px;
  }
  .dash-header-dp {
    width: 28px;
    height: 28px;
  }
  .dash-header-noti {
    margin-left: 28px;
  }
  .dash-header-user {
    column-gap: 7px;
    margin-left: 28px;
  }

  .dash-header-username {
    font-size: 11px;
  }
  .dash-header-position {
    font-size: 11px;
  }
}

@media (max-width: 1280px) {
  .dash-header {
    margin: 17px 30px;
  }
  .dash-header-title {
    margin-left: 30px;
    font-size: 17px;
  }
  .dash-header-title-expand {
    margin-left: 180px;
    font-size: 17px;
  }

  .dash-header-search {
    width: 197px;
    height: 22px;
    border-radius: 5px;
  }

  ::placeholder {
    font-size: 8px;
  }
  .dash-header-help {
    margin-left: 23px;
    width: 13px;
    height: 13px;
  }
  .dash-header-noti {
    margin-left: 23px;
    width: 13px;
    height: 13px;
  }
  .dash-header-user {
    column-gap: 5px;
    margin-left: 23px;
  }
  .dash-header-dp {
    width: 23px;
    height: 23px;
  }
  .dash-header-username {
    font-size: 9px;
  }
  .dash-header-position {
    font-size: 9px;
  }
}
