@import "../../App.css";

.bar {
  font-size: 40;
  cursor: pointer;
}
.navMenu {
  width: 300px;
  height: 100vh;
  top: 0;
  left: -100%;
  transition: 850ms;
  position: fixed;
  overflow-y: hidden;
}

.navMenuActive {
  top: 0;
  left: 0%;
  transition: 250ms;
  background-color: var(--primary);
  width: 300px;
  height: 100vh;
  z-index: 1;
  position: fixed;
}
.container-navbar {
  margin: 25px 30px;
  display: flex;
  flex-direction: column;
}
.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
.close-sidebar {
  cursor: pointer;
}
.list {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.title {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}

@media (max-width: 1536px) {
  .bar {
    font-size: 32;
  }
  .navMenu {
    width: 240px;
  }

  .navMenuActive {
    width: 240px;
  }
  .container-navbar {
    margin: 20px 24px;
  }
  .logo-section {
    margin-bottom: 72px;
  }
  .list {
    font-size: 14px;
    row-gap: 32px;
  }
}

@media (max-width: 1280px) {
  .bar {
    font-size: 30;
  }
  .navMenu {
    width: 200px;
  }

  .navMenuActive {
    width: 200px;
  }
  .container-navbar {
    margin: 17px 20px;
  }
  .logo-section {
    margin-bottom: 60px;
  }
  .list {
    font-size: 12px;
    row-gap: 30px;
  }
}
