@import "../../App.css";

.bar {
  font-size: 40;
  cursor: pointer;
}
.navMenu {
  width: 300px;
  height: 100vh;
  top: 0;
  left: -100%;
  transition: 850ms;
  position: fixed;
  overflow-y: hidden;
}

.navMenuActive {
  top: 0;
  left: 0%;
  transition: 250ms;
  background-color: var(--primary);
  width: 300px;
  height: 100vh;
  z-index: 1;
  position: fixed;
}
.container-navbar {
  margin: 25px 30px;
  display: flex;
  flex-direction: column;
}
.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
.close-sidebar {
  cursor: pointer;
}
.side-nav-list {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
}
.side-nav-title {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  
}
.side-nav-title:hover{
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 14px;
  background-color: #1030D6;
  border-radius: 10px;
}

@media (max-width: 1536px) {
  .bar {
    font-size: 32;
  }
  .sidebar-sidenav{
    width: 20px;
    height: 20px;
  }
  .navMenu {
    width: 240px;
  }
  .navbar-logo{
    width: 74px;
    height: 32px;
  }
  .navMenuActive {
    width: 240px;
  }
  .close-sidebar{
    width: 20px;
    height: 20px;
  }
  .container-navbar {
    margin: 20px 24px;
  }
  .logo-section {
    margin-bottom: 72px;
  }
  .side-nav-list {
    font-size: 14px;
    row-gap: 32px;
  }
  .side-nav-title:hover{
    width: 176px;
    height: 40px;
    padding-left: 11px;
    border-radius: 8px;
  }
}

@media (max-width: 1280px) {
  .bar {
    font-size: 30;
  }
  .navMenu {
    width: 200px;
  }
  .sidebar-sidenav{
    width: 17px;
    height: 17px;
  }
  .close-sidebar{
    width: 17px;
    height: 17px;
  }
  .navbar-logo{
    width: 61px;
    height: 27px;
  }
  .navMenuActive {
    width: 200px;
  }
  .container-navbar {
    margin: 17px 20px;
  }
  .logo-section {
    margin-bottom: 60px;
  }
  .side-nav-list {
    font-size: 12px;
    row-gap: 30px;
  }
  .side-nav-title:hover{
    width: 147px;
    height: 33px;
    padding-left: 9px;
    border-radius: 7px;
  }
}
